.participants-block {
    position: fixed;
    top: 80px;
    right: 0;
    z-index: 1000;
    background-color: #353434;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 16px;
    color: #e0e0e0;
    max-width: 170px;
    max-height: 70vh;
    overflow-y: auto;
    border-left: 1px solid #444;
    border-bottom: 1px solid #444;
}

.participants-header {
    margin-top: 0;
    margin-bottom: 12px;
    margin-right: 10px;
    font-size: 1.2rem;
    color: #ffffff;
}

.participants-container {
    overflow-y: auto;
    padding-right: 3px;
    padding-left: 6px;
}

.participant-card {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 0;
    border-radius: 4px;
    transition: background-color 0.2s;
    padding-left: 8px;
}

.participant-card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #d0d0d0;
}

.participant-card:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.status-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: relative;
    flex-shrink: 0;
}

.divider {
    height: 1px;
    background: linear-gradient(
        to right,
        transparent 0%,
        #444 10%,
        #444 90%,
        transparent 100%
    );
    margin: 0 -16px 12px -16px;
}

.show-all-button {
    background-color: #3a3a3a;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 6px 10px;
    width: 100%;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s;
}

.continue-button:hover {
    background-color: #4a4a4a;
}

.status-indicator.online {
    background-color: #3ba55d; /* Discord green */
    box-shadow: 0 0 0 2px rgba(59, 165, 93, 0.2);
}

.status-indicator.offline {
    background-color: #747f8d; /* Discord gray */
    box-shadow: 0 0 0 2px rgba(116, 127, 141, 0.2);
}
