.chat-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--dark-background, #202020);
    overflow: hidden;
}

.chat-back-button {
    color: var(--color-text-primary, #ffffff);
    text-decoration: none;
    line-height: 1;
    padding: 10px 0;
    margin-right: 20px;
    position: relative;
    display: inline-flex;
    align-items: center;
    left: 0px;
    transition: color var(--transition-time, 0.3s);
}

.chat-back-button:hover {
    color: var(--text-inactive, #d2d2d2);
}

.messages-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: calc(100vh - var(--navbar-height, 75px) * 2);
    margin-bottom: var(--navbar-height, 75px);
    padding: var(--content-padding, 16px);
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding-right: 15px;
    width: 100%;
}

.messages-container::-webkit-scrollbar {
    display: none;
}
