.aside-bar {
    position: fixed;
    width: 27vw;
    height: 100vh;
    background-color: var(--dark-background);
    z-index: 1;
    transition: left 0.3s ease;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--chat-header-background);
}

.aside-bar.open {
    left: 0;
}

.search-bar {
    background-color: var(--chat-header-background);
    color: var(--color-text-primary);
    z-index: 100;
}

.search-placeholder {
    text-align: center;
    padding: 30px 20px;
    color: var(--chat-header-background);
}

.message-search-form {
    display: flex;
    padding: var(--content-padding);
    background-color: var(--chat-header-background);
}

.message-search-form input {
    flex: 1;
    padding: 10px 15px;
    background-color: var(--inactive-background-color);
    border: 1px solid var(--search-border-color);
    border-radius: var(--content-radius-primary);
    color: var(--input-text-color);
    transition: border-color 0.3s;
}

.message-search-form input:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--accent-active-color);
}

.message-search-form input::placeholder {
    color: #888;
}
