.audio-recorder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width:100%;
    
}

.recording {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
}

.indicator {
    display: flex;
    align-items: center;
    gap: 8px;
}

.red-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.recorded-last-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.controllers {
    display: flex;
    gap: 8px;
    margin-right: auto;
    align-self: flex-end;
    justify-self: flex-end;
}

.recording-start {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
}

audio {
    height: 40px;
}

p {
    color: var(--color-text-primary);
}