.registration-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  background-color: var(--dark-background, #202020);
}

.heading {
  font-size: var(--font-size-heading, 4rem);
  font-weight: bold;
  color: var(--color-text-primary, #ffffff);
  animation: scaleFadeIn 0.6s ease-out forwards;
  opacity: 0;
  animation-delay: 0.2s;
  transform-origin: center;
  margin-bottom: 5px;
}

.subtitle {
  font-size: var(--font-size-subtitle, 1.2rem);
  color: var(--color-subtitle, #7f7f7f);
  animation: fadeSlideIn 0.8s ease-out forwards;
  opacity: 0;
  animation-delay: 0.4s;
  margin-bottom: 60px;
}

.input-field {
  width: 100%;
  max-width: 400px;
  padding: 18px 20px;
  margin-bottom: 15px;
  font-size: var(--font-size-title, 20px);
  background: var(--dark-background, #202020);
  border: 1px solid var(--input-border-light, #7f7f7f);
  border-radius: 5px;
  color: var(--input-text-color, #ffffff);
  text-align: left;
  opacity: 0;
  animation: fadeInDown 0.6s ease-out forwards;
  animation-delay: 0.5s;
}

.input-field::placeholder {
  font-size: var(--font-size-input-placeholder, 18px);
  color: var(--input-placeholder-color, #7f7f7f);
  text-align: left;
}

.submit-button {
  display: inline-block;
  width: 100%;
  max-width: 400px;
  padding: 18px 50px;
  font-size: var(--font-size-title, 20px);
  font-weight: bold;
  background-color: var(--secondary-background-color, #3b3a3a);
  border-radius: var(--content-radius-secondary, 8px);
  text-decoration: none;
  cursor: pointer;
  border: none;
  box-shadow: var(--chat-shadow, 0 2px 5px #1c1c1c);
  color: var(--color-text-primary, #ffffff);
  transition: all 0.3s ease;
  opacity: 0;
  animation: fadeInDown 0.6s ease-out forwards;
  animation-delay: 0.7s;
}

.submit-button:hover {
  background-color: var(--inactive-background-color, #060606);
  box-shadow: var(--button-hover-shadow, 0 6px 12px #1c1c1c);
}

.submit-button:active {
  transform: scale(0.97);
  box-shadow: var(--button-active-shadow, 0 2px 4px #1c1c1c);
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scaleFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.5) translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
