.registration-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    background-color: var(--dark-background, #202020);
}

.heading {
    color: var(--color-text-primary, #ffffff);
    animation: scaleFadeIn 0.6s ease-out forwards;
    opacity: 0;
    animation-delay: 0.2s;
    transform-origin: center;
    margin-bottom: 5px;
}

.subtitle {
    color: var(--color-subtitle, rgba(255, 255, 255, 0.7));
    animation: fadeSlideIn 0.8s ease-out forwards;
    opacity: 0;
    animation-delay: 0.4s;
    margin-bottom: 70px;
}

.input-field {
    margin-bottom: 15px;
    animation: fadeInDown 0.6s ease-out forwards;
    animation-delay: 0.5s;
    opacity: 0;
}

.submit-button {
    display: inline-block;
    width: 100%;
    max-width: 400px;
    padding: 18px 50px;
    background-color: var(--secondary-background-color, #3b3a3a);
    border-radius: var(--content-radius-secondary, 8px);
    cursor: pointer;
    border: none;
    box-shadow: var(--chat-shadow, 0 2px 5px rgba(0, 0, 0, 0.2));
    color: var(--color-text-primary, #ffffff);
    transition: all var(--transition-time, 0.3s) ease;
    opacity: 0;
    animation: fadeInDown 0.6s ease-out forwards;
    animation-delay: 0.7s;
}

.submit-button:hover {
    background-color: var(--inactive-background-color, #060606);
    box-shadow: var(--button-hover-shadow, 0 6px 12px rgba(0, 0, 0, 0.3));
}

.submit-button:active {
    transform: scale(0.97);
    box-shadow: var(--button-active-shadow, 0 2px 4px rgba(0, 0, 0, 0.1));
}

.submit-button:disabled {
    background-color: var(--secondary-background-color, #3b3a3a);
    cursor: not-allowed;
    box-shadow: none;
    color: var(--secondary-fill-color, #727173);
    opacity: 0;
    transition: none;
}


@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scaleFadeIn {
    0% {
        opacity: 0;
        transform: scale(0.5) translateY(-40px);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

@keyframes fadeSlideIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}