.close-button-wrapper {
    position: fixed;
    top: 130px;
    color: var(--color-text-primary);
    transform: translateY(-50%);
    width: 24px;
    height: 60px;
    background-color: var(--chat-message-me, #313131);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
}

.close-button-wrapper.opened {
    right: 170px;
}

.close-button-wrapper.closed {
    right: 0;
}
